[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
requests = "*"
django-ipware = "*"
"mailchimp3" = "*"
sentry-sdk = "*"
coverage = "*"

[requires]
python_version = "3.6"
