argcomplete==1.9.3
awsebcli==3.14.6
bandit
blessed==1.15.0
boto3==1.9.34
botocore==1.12.34
cached-property==1.5.1
cement==2.8.2
certifi==2018.10.15
cfn-flip==1.0.3
chardet==3.0.4
Click==7.0
colorama==0.3.9
coverage==4.5.1
django==2.2.13
django-ipware==2.1.0
django-nose==1.4.6
djangorestframework==3.9.0
docker==3.5.1
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
durationpy==0.5
future==0.16.0
hjson==3.0.1
idna==2.6
jmespath==0.9.3
jsonschema==2.6.0
kappa==0.6.0
lambda-packages==0.20.0
mailchimp3==3.0.6
MarkupSafe==1.0
nose==1.3.7
nose-exclude==0.5.0
pathspec==0.5.5
pinocchio==0.4.2
placebo==0.8.2
python-dateutil==2.6.1
python-dotenv==0.9.1
python-slugify==1.2.4
pytz==2018.5
pyyaml>=4.2b1
raven==6.9.0
requests==2.20.0
s3transfer==0.1.13
safety
semantic-version==2.5.0
sentry-sdk==0.4.3
six==1.11.0
termcolor==1.1.0
texttable==0.9.1
toml==0.10.0
tqdm==4.19.1
troposphere==2.3.3
Unidecode==1.0.22
urllib3==1.24.2
wcwidth==0.1.7
websocket-client==0.53.0
Werkzeug==0.15.0
wsgi-request-logger==0.4.6
