files:
  "/etc/httpd/conf.d/cors.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <Location "/">
        SetEnvIf Origin "^http(s)?://(.+\.)?(openbook\.social|okuna\.io)$" origin_is=$0
        Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is
        Header set Access-Control-Allow-Methods: "POST, GET, PUT, DELETE, OPTIONS"
        Header add Access-Control-Allow-Headers: "Authorization, Content-Type, Accept"
        Header set Access-Control-Allow-Credentials: true

        SetOutputFilter DEFLATE
      </Location>